# autotools cruft
aclocal.m4
autom4te.cache
autoscan.log
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
libtool
ltmain.sh
install-sh
map
missing
stamp-h1
m4/
contrib/nsis/sigrok.nsi

# recursive autoconf leftovers
.deps
Makefile
Makefile.in

# build leftovers
*~
*.o
*.a
*.lo
*.la
.libs/
*.pc

# GUI
gui/Makefile.Debug
gui/Makefile.Release
gui/sigrok-gui.pro.user

